.create{
    text-align: center;
    margin: 50px 0 0 0;
    h1{
        color: #261808;
        font-weight: 200;

    }
    input{
        outline: none;
        width: 300px;
        height: 40px;
        margin: 30px 10px;
        padding: 20px;
        border: none;
        border-radius: 50px;
    }
    button{
        width: 100px;
        height: 40px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        background-color: #5BB2A6;
        color:#261808;
        outline: none;

        &:hover{
            background-color: #FFCA64;
            border: #5BB2A6 2px solid;
            color: #261808;
    
        }
}}