.loading{
    height: 80vh;
    text-align: center;

    h3{
        padding-top: 50px;
        color: #261808;
    }
    img{
        width: 30%;
        min-width: 300px;
        padding-top: 50px;
    }
}