// https://www.palettable.io/261808-5BB2A6-E7E4DC-FFCA64
.section{
margin: auto;
text-align: center;
margin: 50px;

input{
    outline: none;
    width: 300px;
    height: 40px;
    margin: 30px 10px;
    padding: 15px;
    border: none;
    border-radius: 50px;
}
button{
    width: 100px;
    height: 40px;
    padding: 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #5BB2A6;
    color: #E7E4DC;
}
}

.allTweets{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .tweet{
        background-color: #FFD792;
        width: 250px;
        height: 250px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 30px;
        color: red;
    }
  
}


.red{
    color: red;
}